## 1er Paso: "*Definicion del problema*":
**Predecir el ingreso total de ventas**

## 2do Paso: Recolectar Datos:

In [1]:
import pandas as pd

#Cargar el dataset:
file_path = './datasets/BD_Ventas_Tech.xlsx'
df = pd.read_excel(file_path)
display(df)

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Unnamed: 9
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,NaN
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,
...,...,...,...,...,...,...,...,...,...,...
22392,2022-08-31,L. - Alisha,"Estados Unidos, América del Norte",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,2.0,NaN
22393,2022-08-31,P. - Misty,"Brasil, América del Sur",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,1.0,NaN
22394,2022-08-31,H. - Jennifer,"Reino Unido, Europa",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,1.0,NaN
22395,2022-08-31,R. - Morgan,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN
22396,2022-08-31,R. - Fernando,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verm...,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN

In [12]:


try:
    #Crear el dataframe:
    df = pd.read_excel(file_path)

    # 1.Realizar el proceso de limpieza del dataframe:
    if 'Unnamed: 9' in df.columns: 
        df = df.drop(columns =['Unnamed: 9'])
        print('Se ha eliminado la columna "Unnamed: 9"')

    # 2. Eliminar Filas con valores nulos:
    initial_rows = df.shape[0]
    df = df.dropna()
    row_dropped = initial_rows - df.shape[0]
    print(f'Hemos Eliminado {row_dropped}filas con valores nulos')
     
    # 3. Casteamos adecuadamente el tipo de dato:
    df['Fecha De Venta'] = pd.to_datetime(df['Fecha De Venta'])
    print(f'Columna "Fecha de Venta" transformada a formato de fecha datetime')

    # 4. Extraer las caracteristicas de la fecha
    df['Año de Venta'] = df['Fecha De Venta'].dt.year
    df['Mes de Venta'] = df['Fecha De Venta'].dt.month
    df['Dia de semana de venta'] = df['Fecha De Venta'].dt.dayofweek #Lunes = 0 .... Domingo = 6
    print(f'Caracteristicas de fecha(Año, Mes, Día de la semana), extraidas')

    # Impresiones:
    print("Datafrae después de limpieza, primeras 5 filas:")
    print(df.head().to_markdown(index = False, numalign ='left',stralign = 'left' ))
    print('Informacion del dataframe después de la limpieza')
    print(df.info())
    print('Vaores Nulos después de la limpieza')
    print(df.isnull().sum().to_markdown(index = False, stralign ='left'))

    # Guardamos el dataset resultante:
    df.t_pickle('./datasets/BD_Ventas_Tech_ccleanned.pkl')
    print('Dataframe guardado en dataset "BD_Ventas_Tech_cleanedpkl"')
          
          
except Exception as e:
    print(F"Error durante la limpeza y la preparación {e}")

Se ha eliminado la columna "Unnamed: 9"
Hemos Eliminado 4filas con valores nulos
Columna "Fecha de Venta" transformada a formato de fecha datetime
Caracteristicas de fecha(Año, Mes, Día de la semana), extraidas
Datafrae después de limpieza, primeras 5 filas:
| Fecha De Venta      | Nombre Cliente   | Ubicación                         | Producto                    | Marca    | Categoría   | Precio Unidad   | Costo Unidad   | Cantidad Vendida   | Año de Venta   | Mes de Venta   | Dia de semana de venta   |
|:--------------------|:-----------------|:----------------------------------|:----------------------------|:---------|:------------|:----------------|:---------------|:-------------------|:---------------|:---------------|:-------------------------|
| 2020-06-01 00:00:00 | G. -  Martin     | Chile, América del Sur            | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Victor     | Alemania, Europa                  | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | G. -  Whitney    | Estados Unidos, América del Norte | Simulador de Combate 3 E119 | Kid Toys | Juegos      | 28              | 14.28          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | A. -  Wayne      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Devin      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020           | 6              | 0                        |
Informacion del dataframe después de la limpieza
<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Año de Venta            22393 non-null  int32
 10  Mes de Venta            22393 non-null  int32
 11  Dia de semana de venta  22393 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), object(5)
memory usage: 2.0+ MB
None
Vaores Nulos después de la limpieza
|   0 |
|----:|
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
Error durante la limpeza y la preparación 'DataFrame' object has no attribute 't_pickle'

## Analsis Exploratorio:
**Tarea**:
* Realizar el analisis exploratorio: head, info, describe 
* Aplicar contar nulos por columnas: df.isnull().sum()

In [16]:
print(f"5 primeras linea")
display(df.head(5))

5 primeras linea

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Año de Venta,Mes de Venta,Dia de semana de venta
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,2020,6,0
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,2020,6,0
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,2020,6,0
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,2020,6,0
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,2020,6,0

Información concisa del DataFrame (df.info()):
<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Año de Venta            22393 non-null  int32
 10  Mes de Venta            22393 non-null  int32
 11  Dia de semana de venta  22393 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), object(5)
memory usage: 2.0+ MB

None

Estadísticas descriptivas para columnas numéricas (df.describe()):

,Fecha De Venta,Precio Unidad,Costo Unidad,Cantidad Vendida,Año de Venta,Mes de Venta,Dia de semana de venta
count,22393,22393.000000,22393.000000,22393.000000,22393.000000,22393.000000,22393.000000
mean,2021-07-12 21:19:10.270173696,159.222056,66.285008,1.982137,2021.035234,6.466932,2.985219
min,2020-06-01 00:00:00,4.980000,2.540000,1.000000,2020.000000,1.000000,0.000000
25%,2020-12-03 00:00:00,8.990000,4.130000,1.000000,2020.000000,4.000000,1.000000
50%,2021-06-25 00:00:00,70.130000,32.250000,1.000000,2021.000000,7.000000,3.000000
75%,2022-03-02 00:00:00,181.000000,82.320000,3.000000,2022.000000,9.000000,5.000000
max,2022-08-31 00:00:00,1650.000000,546.680000,5.000000,2022.000000,12.000000,6.000000
std,NaN,224.434256,85.966001,1.399530,0.785816,3.309371,1.993694

In [17]:
print("Información concisa del DataFrame (df.info()):")
display(df.info())

Información concisa del DataFrame (df.info()):
<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Año de Venta            22393 non-null  int32
 10  Mes de Venta            22393 non-null  int32
 11  Dia de semana de venta  22393 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), object(5)
memory usage: 2.0+ MB

None

In [18]:
print("Estadísticas descriptivas para columnas numéricas (df.describe()):")
display(df.describe())

Estadísticas descriptivas para columnas numéricas (df.describe()):

,Fecha De Venta,Precio Unidad,Costo Unidad,Cantidad Vendida,Año de Venta,Mes de Venta,Dia de semana de venta
count,22393,22393.000000,22393.000000,22393.000000,22393.000000,22393.000000,22393.000000
mean,2021-07-12 21:19:10.270173696,159.222056,66.285008,1.982137,2021.035234,6.466932,2.985219
min,2020-06-01 00:00:00,4.980000,2.540000,1.000000,2020.000000,1.000000,0.000000
25%,2020-12-03 00:00:00,8.990000,4.130000,1.000000,2020.000000,4.000000,1.000000
50%,2021-06-25 00:00:00,70.130000,32.250000,1.000000,2021.000000,7.000000,3.000000
75%,2022-03-02 00:00:00,181.000000,82.320000,3.000000,2022.000000,9.000000,5.000000
max,2022-08-31 00:00:00,1650.000000,546.680000,5.000000,2022.000000,12.000000,6.000000
std,NaN,224.434256,85.966001,1.399530,0.785816,3.309371,1.993694

In [20]:
# Productos con Precio_Unitario ausente (NaN)
precio_ausente = df[df['Precio Unidad'].isnull()]
print("Productos con Precio Unidad ausente:")

Productos con Precio Unidad ausente:

**Paso 3: Ingenieria de Modelo:**

In [25]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
import joblib
import scipy.sparse

In [36]:
file_path ='./datasets/BD_Ventas_Tech_ccleanned.pkl'

try:
    df = pd.read_pickle(file_path)
    print(f'Cargado el dataframe desde {file_path}, exitosamente')

    #1. Empezamos con la ingenieria de caracteristicas:

    df['Margen de Ganancia'] = df['Precio Unidad'] - df['Costo Unidad']
    print(f"Caracteristica \Margen de Ganancia\creada")

    #2. Ingenieria de caracteristicas: ingreso total de venta

    df['Ingreso Total Venta'] =df['Precio Unidad'] * df['Cantidad Vendida']
    print(f"Caracteristica \'Ingreso Total Venta\' creada")

    #3. Ingenieria de caracteristicas: Ganancia total de venta

    df['Ganancia Total Venta'] =df['Margen Ganancia'] * df['Cantidad Vendida']
    print(f"Caracteristica \'Ingreso Total Venta\' creada")

    #4. Seleccion de la variable objetivo:

    target_variable = 'Ingreso Total Venta'

    # Excluimos las columnas que no se usan y las que usamos para calcular el target_variable e incluimos esta mism para evitar el data leake
 
    # Caracteristicas a descartar:

    features_to_exclude = ['Fecha de Venta','Nombre Cliente',tarjet_variable,'Precio Unidad','Cantidad Vendida']
    
    features = [col for col in df.columns if not in features_to_exclude]
    print(f'Caracteristicas para ingenieria: {features}')

    # Identificar caracteristicas categoricas y numericas:

    categorical_features = df[features].selectdtypes(include = ['object']).columns
    numerical_features = df[features].select_dtypes(include = ['int64','float64','int32']).columns

    #Imprimamos el resultado:
    print(f"Varibale Objetivo: {target_Variable}")
    print(f"Caracteristicas Categoricas: {list()}")
    print(f"Caracteristicas Numericas: {list(numerical_features)}")

    #5. Codificar variables categoricas (One-Hot-Encoding) y pasar numericas:
    preprocessor = ColumnTransformer(
        transformers = [
            ("num","passthrough",numerical_features),
            ("cat",OneHotEncoder(handle_unknow="ignore"),categorical_features)
        ]
    )

    #Aplicar Transformaciones:

    x = df[features]
    y = [target_variable]

    x_processed = preprocessor.fit_transform(x)

    # Convertir en un arreglo denso si es una matriz dispersa:

    if scipy.sparse.issparse(x_processed):
        x_processed = x_processed.toarray()

    # Obtenemos los nombres de las nuevas colummnas despues del preprocesamiento:
    all_features_names = preprocessor.get_features_names_out()

    x _processed_dataframe = pd.Dataframe(x_processed,columns = all_features_names, index = df.index)

    print(f"Dataframe después de la ingenieria de caracteristicas y codificacion":)
    display(x_processed_dataframe.head())
    print(f"Dimensions del dataset después de todo esto: ")
    print(x_processed_dataframe.shape())

    # Guardar el modelo generado

    joblib.dump(preprocessor,"./Modelo/model.pkl")
    x_processed_dataframe_df.to_pickle('./datasets/x_processed_dataframe_df.pkl')

except Exception as e:
    print(f'error presentado al guardar el modelo {e}')

<>:10: SyntaxWarning: invalid escape sequence '\M'
<>:10: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Soportedrai\AppData\Local\Temp\ipykernel_2072\3421421874.py:10: SyntaxWarning: invalid escape sequence '\M'
  print(f"Caracteristica \Margen de Ganancia\creada")

SyntaxError: invalid syntax (3421421874.py, line 32)